.main {
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.video{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero_section{
  display: flex;
  z-index: -1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-align: center;
  width: auto;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: clamp(10rem,10vh,13rem);
  padding-bottom: 3rem;
  padding-inline: min(1rem);
}
.h1{
  font-size: 35px;
  font-weight: 600;
}
.h1,
.p,
.page_light_button{
  font-family: 'GothamSSm';
  color: white;
}
.page_light_button{
  z-index: 0;
  font-size: 14px;
  padding-block: min(.4rem);
  padding-inline: min(5.7rem);
  border: 3px solid white;
  border-radius: 5px;
  background-color: transparent;
}