
.credit_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-block: 1rem;
    gap: clamp(.3em,2vw, 1rem);
    background: linear-gradient(160deg, rgb(118, 138, 201,.3)  , rgb(10, 10, 10) 90%),
                linear-gradient(3deg, rgb(0,0,0) 0%, rgb(70, 90, 156) 60%);
}
.credit_info_h3,
.credit_info_p,
.credit_info_a,
.mobile_menu{
    font-family: 'GothamSSm';
    color:white;
    margin: 0;
}
.mobile_menu{
    font-size: min(.9rem);
    background-color: rgba($color: #000000, $alpha: .1);
    padding-block: min(.4rem);
    padding-inline: min(1rem);
    border: none;
}
.credit_info_h3{
    font-size: clamp(.8rem,2vw,1rem);
    font-weight: 700;
    letter-spacing: .5px;
}
.credit_info_p,.credit_info_a{
    font-size: clamp(.8rem,2vw,.9rem);
}
.credit_info_a{
    height: fit-content;
    transition: .5s linear .5s;
}
.credit_info_a:hover{
    border-bottom: 2px solid white;
}
.logo{
    width: 120px;
}
.nav{
    display: flex;
    width: auto;
    background-color: transparent;
    padding-block:.8rem;
    padding-inline:clamp(.5rem,7vw,2rem);
    max-height: 6rem;
    justify-content: space-between;
    align-items: center;
}
.nav_list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
    width: 27%;
}
.nav_list_item{
    font-family: 'GothamSSm';
    font-size: 13.5px;
    font-weight: 600;
}
.nav_help{
    display: flex;
    gap: 7px;
}
.nav_help_icons{
    width: 25px;
}
