
.credit_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    gap: 20px;
    background: linear-gradient(160deg, rgb(118, 138, 201,.3)  , rgb(10, 10, 10) 90%),
                linear-gradient(3deg, rgb(0,0,0) 0%, rgb(70, 90, 156) 60%);
}
.credit_info_h3,.credit_info_p,.credit_info_a{
    font-family: 'GothamSSm';
    color:white;
    margin: 0;
}
.credit_info_h3{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
}
.credit_info_p{
    font-size: 14px;
}
.credit_info_a{
    height: fit-content;
    font-size: 14px;
    transition: .5s linear .5s;
}
.credit_info_a:hover{
    border-bottom: 2px solid white;
}
.logo{
    width: 120px;
}
.nav{
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 0 45px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.nav_list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
    width: 27%;
}
.nav_list_item{
    font-family: 'GothamSSm';
    font-size: 13.5px;
    font-weight: 600;
}
.nav_help{
    display: flex;
    gap: 7px;
}
.nav_help_icons{
    width: 25px;
}