@import '../../../styles/fonts.scss';

.page{
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: clamp(3rem,7vh,5rem);
    padding-inline: min(1rem);

}
@media (max-width:768px) {
    .page{
        height: 83vh;
    }
}
@media (min-width: 769px) and (max-width:1440px) {
    .page{
        height: 93vh;
    }
}
@media (min-width:1441px) and (max-width:2560px) {
    .page{
        height: 96vh;
    }
}
.scroll_snap_container{
    scroll-snap-type: y mandatory;
}
.page_twobutton_layout{
    display: flex;
    gap: 20px;
}
.page_light_button,.page_dark_button{
    padding: 7px 70px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.page_light_button{
    background-color: white;
    color: black;
}
.page_dark_button{
    background-color: rgba(0,0,0,.6);
    color: white;
}
.price,
.subtitle,
.link,
.page_light_button,
.page_dark_button{
    text-align: center;
    font-family: 'GothamSSm';
}
.subtitle{
    scroll-snap-align: start;
    font-weight: 600;
    font-size: 35px;
}
.price,.link{
    font-size: 14px;
}
.link{
    text-align: center;
    color: black;
}